In [1]:
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns
sns.set_style("white")

import time
import timeit

import scipy.stats 
import pandas as pd
import pymc as pm

import re
import numpy as np

import string
import itertools

import time

## Exactly the same code from NB

* define house numbers and x types
* read data
* define functions to evaluate prediction

In [2]:
# House Number and X Types
houses = ['A', 'B', 'C']
xtype_dict = {'r':'raw', 'c':'change','l':'last'}

def read_data(house, xtype):
    assert house in houses
    assert xtype in xtype_dict
    
    act_df = pd.read_csv("data/house{}_act.csv".format(house))
    sensor_df = pd.read_csv("data/house{}_sensor.csv".format(house))
    X = np.load("data/X_{}_house{}.npy".format(xtype_dict[xtype], house))
    Y = np.load("data/Y_house{}.npy".format(house))
    miu = np.load("data/mu{}_{}.npy".format(house, xtype))
    prior = np.load('data/Prior_{}.npy'.format(house))
    return act_df, sensor_df, X, Y, miu, prior

# Prediction Evaluation Functions
def precision(pred_label, Y):
    all_label = list(set(Y))
    N = len(all_label)
    res = 0
    for y in list(set(Y)):
        TP = np.sum(pred_label[Y==y]==y)
        TI = np.sum(pred_label==y)
        if TI != 0:
            res += (float(TP)/TI)
    return float(res)/N
def recall(pred_label, Y):
    all_label = list(set(Y))
    N = len(all_label)
    res = 0
    for y in list(set(Y)):
        TP = np.sum(pred_label[Y==y]==y)
        TT = np.sum(Y==y)
        if TT != 0:
            res += float(TP)/TT
    return float(res)/N
def f_score(pred_label, Y):
    p = precision(pred_label, Y)
    r = recall(pred_label, Y)
    return 2*p*r/(p+r)
def accuracy(pred_label, Y):
    res = 0
    all_label = list(set(Y))
    for y in list(set(Y)):
        TP = np.sum(pred_label[Y==y]==y)
        res += TP
    return float(res)/len(Y)

def evaluation(house,res_label, Y):
    print 'Precision of house {} is {}'.format(house,precision(res_label, Y))
    print 'recall of house {} is {}'.format(house,recall(res_label, Y))
    print 'F score of house {} is {}'.format(house,f_score(res_label, Y))
    print 'Accuracy of house {} is {}'.format(house,accuracy(res_label, Y))

## Experiment with HMM

For debugging purposes. Function written as the next step.

In [20]:
# load data
act_df, sensor_df, X, Y, miu, prior = read_data("A", "c")

In [21]:
print X.shape
print Y.shape
print miu.shape

(40006, 14)
(40006,)
(17, 14)

In [22]:
n_activity = 17

In [23]:
order = 2
A = miu.shape[0]
S = miu.shape[1]
K = n_activity ** order

activity_single = [int(x) for x in list(set(act_df.label))] + [0]
activity_higher = [prod for prod in itertools.product(*np.tile(activity_single, (order,1)))]

index_to_single = dict(zip(range(A), activity_single)) #ind to activity_single dict
single_to_index = dict(zip(activity_single, range(A))) #activity_single to ind dict
index_to_higher = dict(zip(range(K), activity_higher)) #ind to activity_higher dict
higher_to_index = dict(zip(activity_higher, range(K))) #activity_higher to ind dict

In [24]:
X_train = X
Y_train = Y
X_test = X
Y_test = Y
N_train = len(X)
N_test = len(X)

In [25]:
# construct transition and emission matrix
transition_count = np.zeros((K, K)) + 0.00001
emission_count = np.zeros((K, S, 2)) + 0.00001

for i in range(order-1, N_train-1):
    yi = higher_to_index[tuple(Y_train[i-order+1:i+1])]
    ynext = higher_to_index[tuple(Y_train[i-order+2:i+2])]
    transition_count[yi, ynext] += 1
    
    xi = X[i]
    
    for j in range(S): 
        emission_count[yi, j, int(xi[j])] += 1

higher_last = higher_to_index[tuple(Y_train[-order:])]
for j in range(S): 
        emission_count[higher_last, j, int(X[-1][j])] += 1

In [10]:
# transition_count = np.zeros((K,K)) + 0.00001
# emission_count2 = np.zeros((K, S)) + 0.00001

# for i in range(order-1, N_train-1):
#     yi = higher_to_index[tuple(Y_train[i-order+1:i+1])]
#     ynext = higher_to_index[tuple(Y_train[i-order+2:i+2])]
#     transition_count[yi, ynext] += 1
#     
#     
#     emission_count2[yi, :] += X_train[i]
# 
# higher_last = higher_to_index[tuple(Y_train[-order:])]
# emission_count2[higher_last, :] += X_train[-1]

In [26]:
transition = transition_count/np.sum(transition_count, axis=1).reshape(K,1)
log_transition = np.log(np.nan_to_num(transition))

emission = emission_count/np.sum(emission_count, axis=2).reshape(K,S,1)
log_emission = np.log(np.nan_to_num(emission))
log_emission2 = log_emission[:,:,0].reshape(K,S)

In [27]:
# initial probability
initial = np.zeros(K)
initial[higher_to_index[tuple(Y_test[:order])]] = 1
log_initial = np.log(initial)

In [28]:
# initialize T1 and T2
T1 = np.zeros((K,N_test-order+1))
T2 = np.zeros((K,N_test-order+1))

calc_emission = lambda p, x:  np.power(p,(1-x))*np.power((np.log(1-np.exp(p))),x)
T1[:,0] = log_initial + np.sum(calc_emission(log_emission2, X_train[order-1]), axis=1)

In [29]:
%%time
# iterate through time to update T1 and T2
for i in range(1, N_test-order+1):
    obj = T1[:, i-1].reshape(K,1) + log_transition + np.sum(calc_emission(log_emission2, X_train[i+order-1]), axis=1)
    T1[:,i] = np.max(obj, axis=0)
    T2[:,i] = np.argmax(obj, axis=0)

CPU times: user 23.5 s, sys: 440 ms, total: 23.9 s
Wall time: 24.6 s

In [30]:
%%time
# back-fill the MLE state
Z = np.zeros(N_test-order+1)
Z[-1] = np.argmax(T1[:,-1])

for i in range(-1, -(N_test-order), -1):
    Z[i-1] = T2[int(Z[i]), i]

Y_HMM = np.array([index_to_higher[i][0] for i in Z])
Y_HMM[0] = Y_test[:order][0]

CPU times: user 38.2 ms, sys: 5.95 ms, total: 44.2 ms
Wall time: 40 ms

In [31]:
count = 0
for i in range(N_train-1):
    if Y_test[i] == Y_HMM[i]:
        count += 1
print count/float(N_train)

0.850747387892

In [173]:
transition

array([[  9.98326818e-01,   5.07022254e-10,   4.56320536e-04,
          5.07022254e-10,   5.07027324e-05,   5.07022254e-10,
          5.07022254e-10,   1.01404958e-04,   2.02809409e-04,
          5.07022254e-10,   5.07022254e-10,   5.07022254e-10,
          5.07022254e-10,   5.07022254e-10,   5.07022254e-10,
          5.07022254e-10,   8.61938339e-04],
       [  5.88235294e-02,   5.88235294e-02,   5.88235294e-02,
          5.88235294e-02,   5.88235294e-02,   5.88235294e-02,
          5.88235294e-02,   5.88235294e-02,   5.88235294e-02,
          5.88235294e-02,   5.88235294e-02,   5.88235294e-02,
          5.88235294e-02,   5.88235294e-02,   5.88235294e-02,
          5.88235294e-02,   5.88235294e-02],
       [  1.36363986e-02,   4.54545103e-08,   6.36363190e-01,
          2.72727517e-02,   2.27273006e-02,   2.27273006e-02,
          2.27273006e-02,   4.54549649e-03,   4.54545103e-08,
          4.54549649e-03,   4.54545103e-08,   4.54549649e-03,
          4.54545103e-08,   4.54549649e-03,   4.54549649e-03,
          4.54545103e-08,   2.31818048e-01],
       [  4.16666372e-08,   4.16666372e-08,   4.16666372e-08,
          9.04166068e-01,   4.16666372e-08,   4.16666372e-08,
          4.16666372e-08,   4.16666372e-08,   4.16666372e-08,
          4.16666372e-08,   4.16666372e-08,   4.16666372e-08,
          4.16666372e-08,   4.16666372e-08,   4.16666372e-08,
          4.16666372e-08,   9.58333071e-02],
       [  3.22582102e-02,   3.22578876e-07,   1.29031873e-01,
          3.22578876e-07,   5.16126524e-01,   1.29031873e-01,
          3.22578876e-07,   3.22578876e-07,   3.22578876e-07,
          3.22578876e-07,   3.22578876e-07,   3.22578876e-07,
          3.22578876e-07,   3.22578876e-07,   3.22578876e-07,
          3.22578876e-07,   1.93547648e-01],
       [  8.56898017e-10,   8.56898017e-10,   7.71209072e-04,
          8.56898017e-10,   8.56898017e-10,   9.97943431e-01,
          1.71380460e-04,   8.56898017e-10,   8.56898017e-10,
          8.56898017e-10,   8.56898017e-10,   8.56898017e-10,
          8.56898017e-10,   8.56898017e-10,   8.56898017e-10,
          8.56898017e-10,   1.11396828e-03],
       [  1.40844733e-07,   1.40844733e-07,   1.40844733e-07,
          1.40844733e-07,   1.40844733e-07,   1.40844733e-07,
          7.18308280e-01,   1.40844733e-07,   1.40844733e-07,
          1.40844733e-07,   1.40844733e-07,   1.40844733e-07,
          1.40844733e-07,   1.40844733e-07,   1.40844733e-07,
          1.40844733e-07,   2.81689607e-01],
       [  3.42465554e-08,   3.42465554e-08,   3.42465554e-08,
          3.42465554e-08,   3.42465554e-08,   3.42465554e-08,
          3.42465554e-08,   9.72602208e-01,   3.42465554e-08,
          3.42465554e-08,   3.42465554e-08,   3.42465554e-08,
          3.42465554e-08,   3.42465554e-08,   3.42465554e-08,
          3.42465554e-08,   2.73972786e-02],
       [  3.03028742e-07,   3.03028742e-07,   3.03028742e-07,
          3.03028742e-07,   3.03028742e-07,   3.03028742e-07,
          3.03028742e-07,   3.03028742e-07,   6.96966410e-01,
          3.03028742e-07,   3.03028742e-07,   3.03028742e-07,
          3.03028742e-07,   3.03028742e-07,   3.03028742e-07,
          3.03028742e-07,   3.03029045e-01],
       [  4.76186621e-07,   4.76186621e-07,   4.76186621e-07,
          4.76186621e-07,   4.76186621e-07,   4.76186621e-07,
          4.76191383e-02,   4.76186621e-07,   4.76186621e-07,
          6.19043084e-01,   4.76186621e-07,   4.76186621e-07,
          4.76186621e-07,   4.76186621e-07,   4.76186621e-07,
          4.76186621e-07,   3.33331111e-01],
       [  2.63156717e-07,   2.63156717e-07,   2.63156717e-07,
          2.63156717e-07,   2.63156717e-07,   2.63156717e-07,
          2.63156717e-07,   2.63159349e-02,   2.63156717e-07,
          2.63156717e-07,   8.68417431e-01,   2.63156717e-07,
          2.63156717e-07,   2.63156717e-07,   2.63156717e-07,
          2.63156717e-07,   1.05262950e-01],
       [  3.99997280e-07,   3.99997280e-07,   3.99997280e-07,
          4.00001280e-02,   3.99997280e-07,   3.99997280e-07,
          3.99997280e-07,   3.99997280e-07,   3.99997280e-07,
          3.99997280e-07,   3.99997280e-07,   8.39994688e-01,
          3.99997280e-07,   3.99997280e-07,   3.99997280e-07,
          3.99997280e-07,   1.19999584e-01],
       [  4.99957504e-06,   4.99957504e-06,   4.99962503e-01,
          4.99957504e-06,   4.99957504e-06,   4.99957504e-06,
          4.99957504e-06,   4.99957504e-06,   4.99957504e-06,
          4.99957504e-06,   4.99957504e-06,   4.99957504e-06,
          4.99962503e-01,   4.99957504e-06,   4.99957504e-06,
          4.99957504e-06,   4.99957504e-06],
       [  9.99983000e-07,   9.99983000e-07,   9.99983000e-07,
          9.99983000e-07,   9.99993000e-02,   9.99983000e-07,
          9.99983000e-07,   9.99983000e-07,   9.99983000e-07,
          9.99983000e-07,   9.99983000e-07,   9.99993000e-02,
          9.99983000e-07,   6.99989100e-01,   9.99983000e-07,
          9.99983000e-07,   9.99993000e-02],
       [  9.09076860e-07,   9.09076860e-07,   9.09076860e-07,
          9.09076860e-07,   9.09076860e-07,   9.09076860e-07,
          9.09076860e-07,   9.09076860e-07,   9.09076860e-07,
          9.09076860e-07,   9.09076860e-07,   9.09076860e-07,
          9.09076860e-07,   9.09076860e-07,   7.27262397e-01,
          9.09076860e-07,   2.72723967e-01],
       [  2.20264235e-08,   2.20264235e-08,   2.20264235e-08,
          2.20264235e-08,   2.20264235e-08,   2.20264235e-08,
          2.20264235e-08,   2.20264235e-08,   2.20266437e-03,
          2.20264235e-08,   2.20264235e-08,   2.20264235e-08,
          2.20264235e-08,   2.20264235e-08,   2.20264235e-08,
          9.93391721e-01,   4.40530672e-03],
       [  4.04801917e-03,   1.39586820e-09,   7.95645012e-03,
          2.23339051e-03,   9.77109134e-04,   2.09380369e-03,
          1.67504323e-03,   5.58348675e-04,   6.97935494e-04,
          9.77109134e-04,   6.97935494e-04,   2.79175035e-04,
          1.39588216e-04,   2.79175035e-04,   2.79175035e-04,
          4.18761855e-04,   9.76688979e-01]])

In [174]:
index_to_higher

{0: (1,),
 1: (3,),
 2: (4,),
 3: (5,),
 4: (6,),
 5: (10,),
 6: (13,),
 7: (15,),
 8: (16,),
 9: (17,),
 10: (18,),
 11: (19,),
 12: (20,),
 13: (22,),
 14: (23,),
 15: (25,),
 16: (0,)}

In [175]:
act_df

,start_time,end_time,start_sec,end_sec,diff_sec,label,meaning
0,2008-02-24 19:19:32,2008-02-24 19:21:23,1203898772,1203898883,111,6,brush teeth
1,2008-02-24 19:22:46,2008-02-25 04:34:12,1203898966,1203932052,33086,10,go to bed
2,2008-02-25 04:37:16,2008-02-25 04:38:02,1203932236,1203932282,46,4,use toilet
3,2008-02-25 04:49:23,2008-02-25 04:53:28,1203932963,1203933208,245,13,prepare Breakfast
4,2008-02-25 04:57:21,2008-02-25 05:01:30,1203933441,1203933690,249,19,unload dishwasher
5,2008-02-25 05:02:27,2008-02-25 05:12:41,1203933747,1203934361,614,5,take shower
6,2008-02-25 05:19:05,2008-02-25 11:55:37,1203934745,1203958537,23792,1,leave house
7,2008-02-25 11:58:44,2008-02-25 11:59:55,1203958724,1203958795,71,20,store groceries
8,2008-02-25 12:00:30,2008-02-25 12:01:33,1203958830,1203958893,63,4,use toilet
9,2008-02-25 12:19:23,2008-02-25 16:55:26,1203959963,1203976526,16563,25,receive guest
10,2008-02-25 12:54:55,2008-02-25 12:55:58,1203962095,1203962158,63,17,get drink
11,2008-02-25 13:31:53,2008-02-25 13:33:37,1203964313,1203964417,104,4,use toilet
12,2008-02-25 14:40:26,2008-02-25 15:22:58,1203968426,1203970978,2552,15,prepare Dinner
13,2008-02-25 15:23:11,2008-02-25 15:23:35,1203970991,1203971015,24,17,get drink
14,2008-02-25 15:23:54,2008-02-25 15:46:27,1203971034,1203972387,1353,3,Eating
15,2008-02-25 16:51:29,2008-02-25 16:52:36,1203976289,1203976356,67,4,use toilet
16,2008-02-25 16:55:32,2008-02-25 16:59:07,1203976532,1203976747,215,16,get snack
17,2008-02-25 18:05:34,2008-02-25 18:19:10,1203980734,1203981550,816,18,put items in dishwasher
18,2008-02-25 18:21:14,2008-02-26 04:15:30,1203981674,1204017330,35656,10,go to bed
19,2008-02-25 18:22:38,2008-02-25 18:24:38,1203981758,1203981878,120,6,brush teeth
20,2008-02-25 18:28:30,2008-02-25 18:29:14,1203982110,1203982154,44,4,use toilet
21,2008-02-25 19:39:24,2008-02-25 19:39:39,1203986364,1203986379,15,4,use toilet
22,2008-02-25 22:13:39,2008-02-25 22:14:40,1203995619,1203995680,61,4,use toilet
23,2008-02-26 03:35:59,2008-02-26 03:36:38,1204014959,1204014998,39,4,use toilet
24,2008-02-26 04:15:40,2008-02-26 04:19:00,1204017340,1204017540,200,4,use toilet
25,2008-02-26 04:26:42,2008-02-26 04:29:08,1204018002,1204018148,146,13,prepare Breakfast
26,2008-02-26 04:48:07,2008-02-26 04:58:56,1204019287,1204019936,649,5,take shower
27,2008-02-26 05:05:59,2008-02-26 15:34:20,1204020359,1204058060,37701,1,leave house
28,2008-02-26 15:36:41,2008-02-26 17:11:29,1204058201,1204063889,5688,25,receive guest
29,2008-02-26 16:02:34,2008-02-26 16:04:01,1204059754,1204059841,87,4,use toilet
...,...,...,...,...,...,...,...
262,2008-03-19 03:50:59,2008-03-19 03:51:58,1205913059,1205913118,59,4,use toilet
263,2008-03-19 05:38:13,2008-03-19 05:44:21,1205919493,1205919861,368,13,prepare Breakfast
264,2008-03-19 05:48:29,2008-03-19 05:49:10,1205920109,1205920150,41,4,use toilet
265,2008-03-19 05:49:25,2008-03-19 06:00:23,1205920165,1205920823,658,5,take shower
266,2008-03-19 06:08:27,2008-03-19 13:15:16,1205921307,1205946916,25609,1,leave house
267,2008-03-19 13:19:28,2008-03-19 13:22:04,1205947168,1205947324,156,5,take shower
268,2008-03-19 13:26:39,2008-03-19 16:20:07,1205947599,1205958007,10408,1,leave house
269,2008-03-19 16:46:18,2008-03-19 16:49:01,1205959578,1205959741,163,4,use toilet
270,2008-03-19 17:49:08,2008-03-19 17:51:46,1205963348,1205963506,158,4,use toilet
271,2008-03-19 17:52:25,2008-03-19 17:53:56,1205963545,1205963636,91,6,brush teeth
272,2008-03-19 17:54:29,2008-03-20 04:31:02,1205963669,1206001862,38193,10,go to bed
273,2008-03-19 20:35:06,2008-03-19 20:36:00,1205973306,1205973360,54,4,use toilet
274,2008-03-20 02:57:53,2008-03-20 02:58:39,1205996273,1205996319,46,4,use toilet
275,2008-03-20 04:45:41,2008-03-20 04:47:06,1206002741,1206002826,85,4,use toilet
276,2008-03-20 05:11:55,2008-03-20 05:15:14,1206004315,1206004514,199,13,prepare Breakfast
277,2008-03-20 05:42:26,2008-03-20 05:50:22,1206006146,1206006622,476,5,take shower
278,2008-03-20 05:56:46,2008-03-20 18:49:41,1206007006,1206053381,46375,1,leave house
279,2008-03-20 18:51:10,2008-03-20 18:55:31,1206053470,1206053731,261,4,use toilet
280,2008-03-20 19:36:23,2008-03-20 19:41:10,1206056183,1206056470,287,4,use toilet
281,2008-03-20 19:56:36,2008-03-20 19:58:08,1206057396,1206057488,92,6,brush teeth
282,2008-03-20 19:58:42,2008-03-20 19:59:26,1206057522,1206057566,44,4,use toilet
283,2008-03-20 19:59:37,2008-03-21 05:04:25,1206057577,1206090265,32688,10,go to bed
284,2008-03-20 23:49:45,2008-03-20 23:50:46,1206071385,1206071446,61,4,use toilet
285,2008-03-21 04:30:56,2008-03-21 04:31:35,1206088256,1206088295,39,4,use toilet
286,2008-03-21 05:13:21,2008-03-21 05:15:32,1206090801,1206090932,131,4,use toilet
287,2008-03-21 05:17:46,2008-03-21 05:24:43,1206091066,1206091483,417,5,take shower
288,2008-03-21 05:42:28,2008-03-21 11:51:38,1206092548,1206114698,22150,1,leave house
289,2008-03-21 11:51:57,2008-03-21 11:53:09,1206114717,1206114789,72,4,use toilet
290,2008-03-21 13:03:48,2008-03-21 14:05:17,1206119028,1206122717,3689,10,go to bed
291,2008-03-21 14:24:23,2008-03-21 14:25:05,1206123863,1206123905,42,4,use toilet

In [178]:
print T1[0]

[            -inf  -2.52437822e+01  -2.77560075e+01 ...,  -1.48251130e+05
  -1.48251340e+05  -1.48252159e+05]

## Nice and Clean function

In [ ]:
# define function to fit HMM model
def HMM(X, Y, miu, order):