In [18]:
import scipy.io
import pandas as pd
from datetime import datetime,timedelta

## Pre-processing (organizing and cleaning data)

In [245]:
#convert matlab time to total seconds
def to_sec(matlab_datenum):
    dt = datetime.fromordinal(int(matlab_datenum)) + timedelta(days=matlab_datenum%1) - timedelta(days = 366)
    seconds = (dt-datetime(1970,1,1)).total_seconds()
    return int(seconds)

In [363]:
#run houses = 'A', 'B' and 'C'
house = 'C'
act_mat = scipy.io.loadmat("datasets/house{}/actStructHouse{}.mat".format(house, house))
sensor_mat = scipy.io.loadmat("datasets/house{}/sensorStructHouse{}.mat".format(house, house))
label_mat = scipy.io.loadmat("datasets/house{}/senseandactLabelsHouse{}.mat".format(house,house))

In [364]:
act_df = pd.DataFrame(act_mat['activityStructure'][0][0][0])

In [365]:
act_df.columns = ["start_sec", "end_sec", "label"]
act_df['start_sec'] = [to_sec(i) for i in act_df.start_sec]
act_df['end_sec'] = [to_sec(i) for i in act_df.end_sec]
act_df['diff_sec'] = act_df.end_sec-act_df.start_sec
act_df['start_time'] = [str(datetime.fromtimestamp(i)) for i in act_df.start_sec]
act_df['end_time'] = [str(datetime.fromtimestamp(i)) for i in act_df.end_sec]
act_df = act_df[["start_time", "end_time", "start_sec", "end_sec", "diff_sec", "label"]]
act_df.head()

,start_time,end_time,start_sec,end_sec,diff_sec,label
0,2008-11-19 17:49:00,2008-11-19 17:49:59,1227134940,1227134999,59,1
1,2008-11-19 17:50:40,2008-11-19 17:51:45,1227135040,1227135105,65,4
2,2008-11-19 17:59:25,2008-11-19 18:00:00,1227135565,1227135600,35,17
3,2008-11-19 18:00:50,2008-11-19 20:24:59,1227135650,1227144299,8649,28
4,2008-11-19 19:14:50,2008-11-19 19:15:19,1227140090,1227140119,29,17

In [366]:
len(act_df)

344

In [367]:
sensor_df = pd.DataFrame(sensor_mat['sensorStructure'][0][0][0])

In [368]:
sensor_df.columns = ['start_sec', 'end_sec', 'label', 'on']
sensor_df['start_sec'] = [to_sec(i) for i in sensor_df.start_sec]
sensor_df['end_sec'] = [to_sec(i) for i in sensor_df.end_sec]
sensor_df['diff_sec'] = sensor_df.end_sec-sensor_df.start_sec
sensor_df['start_time'] = [str(datetime.fromtimestamp(i)) for i in sensor_df.start_sec]
sensor_df['end_time'] = [str(datetime.fromtimestamp(i)) for i in sensor_df.end_sec]
sensor_df = sensor_df[["start_time", "end_time", "start_sec", "end_sec", "diff_sec", "on", "label"]]
sensor_df.head()

,start_time,end_time,start_sec,end_sec,diff_sec,on,label
0,2008-11-19 17:47:46,2008-11-19 17:49:17,1227134866,1227134957,91,1,28
1,2008-11-19 17:49:20,2008-11-19 17:49:22,1227134960,1227134962,2,1,28
2,2008-11-19 17:49:24,2008-11-19 17:50:14,1227134964,1227135014,50,1,28
3,2008-11-19 17:50:18,2008-11-20 06:14:11,1227135018,1227179651,44633,1,28
4,2008-11-19 17:51:02,2008-11-19 17:51:04,1227135062,1227135064,2,1,25

In [369]:
len(sensor_df)

22700

In [370]:
temp = label_mat['sensor_labels']
sensor_labels = {}
for item in temp:
    sensor_labels[(item[0][0][0])]= item[1][0]
sensor_labels

{5: u'mat bed rechts, drukmat',
 6: u'mat bank, huiskamer',
 7: u'vriezer, reed',
 8: u'toilet flush boven, flush ',
 10: u'toilet flush beneden. flush ',
 11: u'badkamer klapdeur links',
 13: u'zelfde la als 18, kwik',
 15: u'La sleutels',
 16: u'badkamer klapdeur links',
 18: u'bestek la, kwik sensor ',
 20: u'kastje pannen, reed ',
 21: u'magnetron, reed ',
 22: u'kastje restjesbakjes, reed ',
 23: u'kastje borden/kruiden,reed ',
 25: u'deur toilet beneden',
 27: u'kastje cups/bowl/tuna, reed ',
 28: u'voordeur, reed ',
 29: u'deur slaapkamer',
 30: u'koelkast, reed ',
 35: u'badkuip, pir ',
 36: u'dresser, pir ',
 38: u'wasbak boven, flush ',
 39: u'mat bed links, drukmat '}

In [371]:
temp = label_mat['activity_labels']
act_labels = {}
for i,item in enumerate(temp):
    if len(item[0]) != 0:
        act_labels[i+1] = item[0][0]
act_labels

{1: u'leave house',
 3: u'Eating',
 4: u'use toilet downstairs',
 5: u'take shower',
 6: u'brush teeth',
 7: u'use toilet upstairs',
 8: u'take bath',
 9: u'shave',
 10: u'go to bed',
 11: u'get dressed',
 12: u'take medication',
 13: u'prepare Breakfast',
 14: u'prepare Lunch',
 15: u'prepare Dinner',
 16: u'get snack',
 17: u'get drink',
 18: u'put items in dishwasher',
 19: u'unload dishwasher',
 20: u'store groceries',
 21: u'Grooming (Collection of 6,9,12,22)',
 22: u'put clothes in washingmachine',
 23: u'unload washingmachine',
 25: u'receive guest',
 26: u'watch tv',
 27: u'read paper',
 28: u'relax',
 30: u'Unknown'}

In [372]:
if house == 'B':
    sensor_df = sensor_df[sensor_df.label != 23]
    act_df = act_df[act_df.label != 16]

In [373]:
temp = []
for l in sensor_df.label:
    temp.append(sensor_labels[int(l)])
sensor_df['meaning'] = temp

In [374]:
sensor_df.head()

,start_time,end_time,start_sec,end_sec,diff_sec,on,label,meaning
0,2008-11-19 17:47:46,2008-11-19 17:49:17,1227134866,1227134957,91,1,28,"voordeur, reed"
1,2008-11-19 17:49:20,2008-11-19 17:49:22,1227134960,1227134962,2,1,28,"voordeur, reed"
2,2008-11-19 17:49:24,2008-11-19 17:50:14,1227134964,1227135014,50,1,28,"voordeur, reed"
3,2008-11-19 17:50:18,2008-11-20 06:14:11,1227135018,1227179651,44633,1,28,"voordeur, reed"
4,2008-11-19 17:51:02,2008-11-19 17:51:04,1227135062,1227135064,2,1,25,deur toilet beneden

In [375]:
temp = []
for l in act_df.label:
    temp.append(act_labels[int(l)])
act_df['meaning'] = temp

In [376]:
act_df.head()

,start_time,end_time,start_sec,end_sec,diff_sec,label,meaning
0,2008-11-19 17:49:00,2008-11-19 17:49:59,1227134940,1227134999,59,1,leave house
1,2008-11-19 17:50:40,2008-11-19 17:51:45,1227135040,1227135105,65,4,use toilet downstairs
2,2008-11-19 17:59:25,2008-11-19 18:00:00,1227135565,1227135600,35,17,get drink
3,2008-11-19 18:00:50,2008-11-19 20:24:59,1227135650,1227144299,8649,28,relax
4,2008-11-19 19:14:50,2008-11-19 19:15:19,1227140090,1227140119,29,17,get drink

In [377]:
sensor_df.to_csv("house{}_sensor.csv".format(house), index=False)
act_df.to_csv("house{}_act.csv".format(house), index=False)